@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
  --green: #46973b;
  --light-green: hsla(110, 29%, 55%, 0.15);
  --black: #111111;
  --white: #ffffff;
  --grey: #5d6063;
  --orange: #dcbf00;
}

html {
  box-sizing: border-box;
  font-family: 'Outfit', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  font-synthesis: none;
  line-height: 1.5;
}

*,
*::after,
*::before {
  padding: unset;
  margin: unset;
  box-sizing: inherit;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 738;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

a:hover {
  color: #46973b;
  transition: color linear 100ms;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

.container > main,
.container > header,
.container > footer > div {
  width: 90%;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: 'Lilita One', sans-serif;
  font-weight: 738;
  font-size: 20px;
  letter-spacing: -1px;
}

.logo img {
  width: 40px;
}
.logo span {
  margin-left: 0.5em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25em 0;
  margin-bottom: 1em;
  text-align: center;
  padding-block: 1.5em;
}
.header .menu_icon {
  width: 25px;
}

.header .nav,
.header .btn {
  display: none;
}

.header .nav .active {
  color: var(--green);
}
.main .sect_main > h1,
.main .sect_main > p {
  text-align: center;
  margin: 0 auto;
}
.main .sect_main > h1 {
  text-transform: capitalize;
  font-size: 1.65rem;
  margin-bottom: 0.25em;
}

.main .sect_main > p {
  width: 90%;
  color: var(--grey);
  margin-bottom: 2em;
}
.main .sect_main .card__wrapper {
  margin-bottom: 2em;
}
.main .sect_main .card .card_main p,
.main .sect_main .card .card_main a {
  font-size: 0.85rem;
}
.main .sect_main .card {
  margin-bottom: 2em;
}

.main .sect_main .card h3 {
  font-weight: 500;
}
.main .sect_main .card .icon {
  width: 65px;
  margin: 0 auto 0.55em;
}
.main .sect_main .card.selected h3 {
  margin-bottom: 0.35em;
}
.main .sect_main .card.selected .card_main p {
  margin-bottom: 0.55em;
}

.main .sect_main .card.selected figure img {
  border-radius: 0.55em 0.55em 0 0;
}

.main .sect_main .card:not(.selected) .card_img img {
  border-radius: 0.55em;
  margin-bottom: 2em;
  height: inherit;
}
.main .sect_main .card:not(.selected) h3,
.main .sect_main .card:not(.selected) p {
  width: 85%;
  text-align: center;
  margin: 0 auto;
}

.main .sect_main .card:not(.selected) p {
  color: var(--grey);
  margin-bottom: 1em;
}
.main .sect_main .card.selected {
  border-radius: 0.55em;
  color: var(--white);
}

.main .sect_main .card.selected .card_main {
  background-color: var(--green);
  padding: 1em 2em 0.65em 1em;
  border-radius: 0 0 0.55em 0.55em;
}

.main .sect_main .card .card_main .link_wrapper {
  display: flex;
  align-items: center;
}

.main .sect_main .card .card_main .link_wrapper::after {
  content: '';
  margin-left: 0.35em;
  background-image: url(assets/images/4829869_arrow_next_right_icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}
.main .sect_secondary header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

.main .sect_secondary header h3 {
  color: var(--orange);
  font-size: 0.95rem;
  font-weight: 500;
  padding-right: 0.5em;
}

.main .sect_secondary header figure {
  width: 30px;
  rotate: -45deg;
}
.main .sect_secondary h1 {
  text-align: center;
  margin-bottom: 1em;
}

.main .sect_secondary .primary figure,
.main .sect_secondary .primary figure + div {
  margin-bottom: 2em;
}
.main .sect_secondary .primary figure {
  height: 55vmin;
}
.main .sect_secondary .primary figure > img {
  width: 100%;
  height: 100%;
  border-radius: 0.55em;
}
.main .sect_secondary .primary figure + div > p {
  margin-bottom: 2em;
}
.main .sect_secondary .primary figure + div .card__wrapper {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  gap: 1em;
}
.main .sect_secondary .primary figure + div .card__wrapper .card {
  text-align: center;
  background-color: var(--green);
  color: var(--white);
  font-size: 0.9rem;
  padding: 1.5em;
  min-height: 133px;
  border-radius: 0.55em;
}
.main .sect_secondary .primary figure + div .card__wrapper .card:last-of-type {
  background-color: var(--orange);
}
.main .sect_secondary .primary figure + div .card__wrapper .card .bold_txt {
  display: block;
  font-weight: 738;
  margin-bottom: 0.25em;
}
.main .sect_secondary .secondary .card {
  overflow: hidden;
  position: relative;
  background-color: var(--light-green);
  border-radius: 0.55em;
  padding: 1em;
  margin-bottom: 2em;
}
.main .sect_secondary .secondary .card h3::before {
  display: block;
  content: '';
  background-image: url(assets/images/11807611_easter_leaf_icon.svg);
  height: 65px;
  width: 65px;
  background-size: cover;
  margin-block: 2em 0em;
}
.main .sect_secondary .secondary .card h3 {
  margin-bottom: 0.25em;
}
.main .sect_secondary .secondary .card p {
  font-size: 0.85rem;
}
.main .sect_secondary .secondary .card .circle {
  position: absolute;
  z-index: -1;
  background-color: var(--green);
  opacity: 0.24;
  border-radius: 50%;
}
.main .sect_secondary .secondary .card .circle:first-of-type,
.main .sect_secondary .secondary .card .circle + .circle {
  width: 120px;
  height: 120px;
}
.main .sect_secondary .secondary .card .circle:first-of-type {
  top: -3.5em;
  left: -3.5em;
}
.main .sect_secondary .secondary .card > p + .circle {
  width: 50px;
  height: 50px;
  bottom: 4.85em;
  right: 4.85em;
}
.main .sect_secondary .secondary .card .circle + .circle {
  bottom: -1.5em;
  right: -0.6em;
}
.main .sect_secondary .secondary .card .link {
  background-color: var(--green);
  padding: 0.65em;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 1.25em;
  right: 0.95em;
  border-radius: 50%;
}
.main .sect_secondary .secondary .card .link svg {
  color: var(--white);
  width: 100%;
  height: 100%;
  rotate: -45deg;
}
.main .sect_secondary .secondary .items_list {
  margin-bottom: 2em;
}
.main .sect_secondary .secondary .items_list li {
  font-weight: 500;
  padding-block: 0.85em;
  border-top: 1.15px solid var(--grey);
}
.main .sect_secondary .secondary .items_list li:last-of-type {
  border-bottom: 1.15px solid var(--grey);
}
.main .sect_secondary .secondary .items_list .count {
  text-align: center;
  display: inline-block;
  margin-right: 1em;
  padding: 0.5em;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1.2px solid var(--grey);
}
.main .sect_secondary .secondary > div p {
  color: var(--grey);
  margin-bottom: 1.5em;
}
.footer {
  background-color: var(--light-green);
  padding: 1.25em;
}

.footer p,
.footer a {
  font-size: 0.9rem;
}
.footer_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: space-between;
  column-gap: 1.25em;
  row-gap: 0.65em;
}

.footer > div .logo {
  margin-bottom: 0.85em;
}

.footer > div > div:first-of-type {
  margin-bottom: 1.5em;
}
.footer > div > div:first-of-type p {
  margin-bottom: 0.65em;
}

.footer h4 {
  font-weight: 500;
  margin-bottom: 0.85em;
}

.footer .profile nav ul {
  margin-bottom: 1em;
}

.footer .profile nav ul li {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.8em;
}

.footer .profile nav ul li svg {
  width: 15px;
  height: 15px;
}
.footer .socials {
  grid-column: span 2;
}

.footer .socials nav ul {
  display: flex;
  align-items: center;
  gap: 0.85em;
  margin-bottom: 1em;
}

.footer .socials nav ul li a {
  border: 1px solid #000;
  text-align: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.footer .socials nav ul li img {
  padding: 0.65em;
}
.footer > .footer_container .terms_text,
.footer > .footer_container .copyright_text {
  font-size: 0.75rem;
}
@media only screen and (min-width: 600px) {
  .container > main,
  .container > header,
  .container > footer > div {
    width: min(80%, 635px);
  }
  .main .sect_secondary .primary figure {
    height: 35vmin;
  }

  .main .sect_secondary .secondary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.25em;
  }

  .main .sect_secondary .secondary > div:nth-child(3) {
    grid-column: span 2;
  }

  .main .sect_secondary .secondary .items_list {
    margin-bottom: 0;
  }

  .main .sect_secondary .secondary .card {
    margin-bottom: 0em;
  }

  .items_list {
    margin-top: 0.75em;
  }

  .footer .socials {
    grid-column: span 1;
  }
  .footer .terms_text {
    grid-column: span 2;
  }
}

@media only screen and (min-width: 1080px) {
  .container > header,
  .container > main,
  .container > footer > div {
    width: 85%;
  }

  .header {
    margin-bottom: 3em;
  }

  .header .menu_icon {
    display: none;
  }

  .header .nav,
  .header .nav ul {
    display: flex;
  }
  .header .nav ul {
    gap: 1em;
  }

  .header .btn {
    font-family: 'Outfit', system-ui, -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
    cursor: pointer;
    background-color: inherit;
    display: block;
    border: 1.35px solid var(--grey);
    padding: 0.65em 1.25em;
    border-radius: 1.6em;
  }

  .header .btn:hover {
    background-color: var(--green);
    color: var(--white);
    border-color: transparent;
    transition: all 200ms linear;
  }

  .main .sect_main h1 {
    width: 80%;
    font-size: 2.25rem;
  }
  .main .sect_main > p {
    width: 60%;
    margin-bottom: 3em;
  }
  .main .sect_main .card {
    margin-bottom: 0;
  }
  .main .sect_main .card:nth-of-type(2) .card_img img {
    margin-bottom: 0;
  }

  .main .sect_main .card:nth-of-type(3) .card_img img {
    margin-bottom: 1em;
  }
  .main .sect_main .card__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.25em;
  }

  .main .sect_main .card:not(.selected) .card_main p {
    width: 65%;
  }
  .main .sect_secondary h1 {
    font-size: 2rem;
  }

  .main .sect_secondary .primary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.25em;
  }

  .main .sect_secondary .primary figure {
    height: 325px;
  }

  .main .sect_secondary .primary figure + div > p {
    margin-bottom: 1em;
  }

  .main .sect_secondary .secondary {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 2em;
  }
  .main .sect_secondary .secondary > div:nth-child(3) {
    grid-column: span 1;
  }
  .items_list {
    margin-top: 0.55em;
  }

  .main .sect_secondary .secondary > div p {
    margin-bottom: 0.85em;
  }

  .sect_secondary .secondary div > p:nth-child(3) {
    margin-bottom: 0;
  }

  .footer .footer_container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
